* {
    font-family: 'Courier New', Courier, monospace;
}

a {
    text-decoration: none;
    font-size: 28px;
    color: black;
    background-color: lightblue;
}

li {
    padding-top: 1em;
}

.recipes-wrapper {
    text-align: center;
}